/*

	author:abulkhair;
	website:none;
	mail:abulkhair5277@gmail.com;


*/


/*

	====index====
	1.Home 
	2.About Us
	3.Our Services 
	4.Prices
	5.Contact

               


	color



*/

/* theme css */


/* global css */
.body{
	
}



*{
	margin: 0px;
	padding: 0px;
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{

}

/* hero section */

.navbar-dark .navbar-nav .nav-link.active{
	color: #F42059;
}
.navbar-dark .navbar-nav .nav-link {
    color: grey;
    text-transform: uppercase;
    font-weight: 500;
}
.fa.fa-bars {
    color: #F42059;
    font-size: 35px;
}


.hero{
	background-image: url(../img/banner-one.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-cstm {
    text-align: center;
    margin-top: 150px;
}
.hero-cstm h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 350;
    font-size: 30px;
}
.hero-cstm span {
    display: inherit;
    border: 1px solid #F42059;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
}
.hero-cstm p {
    font-size: 16px;
    color: white;
    font-weight: 350;
    margin-top: 15px;
}
.hero-btn {
    padding: 7px 20px;
    border: 1px solid gray;
    color: black;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 35px;
    transition: .4s ease-in-out;
}
.hero-btn:hover{
	background-color: #F42059;
	cursor: pointer;
	color: white;
}

/* about section */
.about{
	background-color: #F4F4F4;
    padding-bottom: 40px;
}
.about-cstm{

}
.about-cstm h3 {
    font-size: 25px;
    color: black;
}
.about-cstm p{
	font-size: 16px;
    color: black;
    font-weight: 350;
    margin-top: 15px;
}
.about-cstm label {
    color: #F42059;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.fa.fa-play {
    border: 1px solid #F42059;
    padding: 5px 7px;
    border-radius: 20px;
    color: #F42059;
}
.about-img{

}
.about-img img {
    width: 100%;
}

/* service section */
.service-cstm{
	text-align: center;
	margin-top: px;
}
.service-cstm h2{
	text-transform: uppercase;
    color: black;
    font-weight: 350;
    font-size: 30px;
}
.service-cstm span{
	display: inherit;
    border: 1px solid #F42059;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
}
.service-cstm p{
	font-size: 16px;
    color: black;
    font-weight: 350;
    margin-top: 15px;
}
.service-item{
	text-align: center;
}
.service-item img {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 15px;
}
.service-item h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    color: #F42059;
}
.carousel-caption.d-block.d-md-block {
    padding: 70px 0px;
}
.w-100 {
    width: 100%!important;
    height: 350px!important;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    background: transparent;
    opacity: .5;
    border: none;
    transition: opacity .15s ease;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 58%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.fa.fa-quote-left{
	color: #F42059;
	font-size: 25px;
}
.fa.fa-quote-right{
	color: #F42059;
	font-size: 25px;
}
.carousel-caption.d-block.d-md-block p{
    font-size: 16px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0px;
}

/*price setion */
.price{
    background-color: #F4F4F4;
}
.price-cstm{
    text-align: center;
}
.price-cstm h2{
    text-transform: uppercase;
    color: black;
    font-weight: 350;
    font-size: 30px;
}
.price-cstm span{
    display: inherit;
    border: 1px solid #F42059;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
}
.price-cstm p{
    font-size: 16px;
    color: black;
    font-weight: 350;
    margin-top: 15px;
}
.card{
    margin-top: 15px;

}
.card-item {
    margin-top: 50px;
}
.card:hover{
    transform: scale(1.05);
    transition: .4s ease-in-out;
}
.card-header {
    width: 100%;
    height: 150px;
    background-color: #323232de;
    position: relative;
    transition: .4s ease-in-out;
}
.card-header:hover{
    background-color: #F42059;
}
.card-header h3 {
    font-size: 30px;
    text-align: center;
    color: white;
}
.card-header h6 {
    font-size: 17px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.card-btn {
    position: absolute;
    width: 50%;
    padding: 5px;
    margin-top: 132px;
    margin-left: 25%;
    border: 1px solid gray;
    color: black;
    text-transform: uppercase;
    border-radius: 25px;
    transition: .4s ease-in-out;
}
.card-btn:hover{
    background-color: #F42059;
    display: block;
    color: white;
}
.card-body {
    text-align: center;
    margin-top: 15px;
}
.card-body h6 {
    font-size: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: maroon;
}
.card-btn-two {
    padding: 4px 34px;
    border: 1px solid gray;
    color: black;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 20px;
    transition: .4s ease-in-out;
}
.card-btn-two:hover{
    background-color: #F42059;
    color: white;
}

/* work section */
.work {
    margin-top: 50px;
}
.work-img {
    text-align: center;
    margin-bottom: 15px;
}
.work-img img{
    
}
.work-cstm {
    margin-bottom: 20px;
}
.work-cstm h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: #F42059;
    text-align: center;
}
.work-cstm p{
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}
.contact {
    background-color: #F42059;
}
.contact-cstm{

}
.contact-cstm h3 {
    padding: 40px 0px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 350;
}
.contact-button{
    text-align: center;
}
.contact-btn {
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    border: 1px solid gray;
    padding: 7px 40px;
    margin-top: 41px;
    border-radius: 18px;
    background-color: #00000042;
    transition: .4s ease-in-out;
    cursor: pointer;
    font-weight: 500;
}
.contact-btn:hover{
    color: #F42059;
    background-color: white;
}

/* update section */
.update{

}
.update-cstm{
    text-align: center;
}
.update-cstm h2{
    text-transform: uppercase;
    color: black;
    font-weight: 350;
    font-size: 30px;
}
.update-cstm span{
    display: inherit;
    border: 1px solid #F42059;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
}
.update-cstm p{
    font-size: 16px;
    color: black;
    font-weight: 350;
    margin-top: 15px;
    margin-bottom: 25px;
}
.card-two {
    text-align: center;
    margin-top: 15px;
    margin: 0 auto;
}
.card-two img {
    width: 91%;
    position: relative;
}
.card-hover {
    position: absolute;
    width: 84.5%;
    background-color: #c5385bc4;
    top: 0;
    left: 29px;
    height: 61.5%;
    opacity: 0;
    transition: .4s ease-in-out;
    margin: 0 auto;
}
.fa.fa-search {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 43%;
    left: 42%;
}
.card-hover:hover{
    opacity: 1;
}

.card-body-two {
    width: 91%;
    margin: 0 auto;
    background-color: #F4F4F4;
    text-align: left;
}
.card-body-two h5 {
    font-size: 17px;
    padding: 25px 0px 5px;
    text-transform: capitalize;
    color: gray;
}
.card-body-two p {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 25px;
    color: gray;
}














/* media query */
/* extra small device */
@media (min-width: 320px) and (max-width: 576px){
.hero-cstm h2 {
    font-size: 20px;
}
.hero-cstm p {
    font-size: 12px;
}
.hero-btn {
    font-size: 12px;
    padding: 5px 15px;
}
.about-cstm h3 {
    font-size: 20px;
}
.about-cstm p{
	font-size: 11px;
}
.about-img img {
    margin-top: 40px;
}
.service-cstm h2{
    font-size: 20px;
}
.service-cstm p{
	font-size: 12px;
}
.service-item img {
    width: 30%;
}
.service-item h4 {
    font-size: 14px;
}
.carousel-caption.d-block.d-md-block p {
    font-size: 12px;
    width: 100%;
}
.fa.fa-quote-left{
	font-size: 20px;
}
.fa.fa-quote-right{
	font-size: 20px;
}
.card{
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
}
.card-btn {
    font-size: 15px;
}
.contact-btn {
    margin-top: 10px;
    margin-bottom: 25px;
}
.update-cstm h2{
    font-size: 20px;
}
.update-cstm p{
    font-size: 12px;
}
.card-two {
    width: 73%;
}
.card-hover {
    width: 83.5%;
    left: 29px;
    height: 59.5%;
}
}

/* small device */
@media (min-width: 576.01px) and (max-width: 768px){
.hero-cstm h2 {
    font-size: 23px;
}
.hero-cstm p {
    font-size: 13px;
}
.hero-btn {
    font-size: 13px;
    padding: 5px 15px;
}
.about-cstm h3 {
    font-size: 22px;
}
.about-cstm p{
	font-size: 12px;
}
.about-img img {
    margin-top: 50px;
}
.service-cstm h2{
    font-size: 23px;
}
.service-cstm p{
	font-size: 13px;
}
.service-item img {
    width: 32%;
}
.service-item h4 {
    font-size: 14px;
}
.carousel-caption.d-block.d-md-block p {
    font-size: 13px;
    width: 100%;
}
.fa.fa-quote-left{
	font-size: 20px;
}
.fa.fa-quote-right{
	font-size: 20px;
}
.card{
    width: 65%;
    margin: 0 auto;
    margin-top: 15px;
}
.contact-btn {
    font-size: 15px;
    padding: 6px 38px;
    margin-top: 60px;
}
.update-cstm h2{
    font-size: 23px;
}
.update-cstm p{
    font-size: 13px;
}
.card-hover {
    width: 83.7%;
    left: 29px;
    height: 59.5%;
}
}

/* medium device */
@media (min-width: 768.01px) and (max-width: 992px){
.hero-cstm h2 {
    font-size: 26px;
}
.hero-cstm p {
    font-size: 14px;
}
.hero-btn {
    font-size: 15px;
    padding: 5px 15px;
}
.about-cstm h3 {
    font-size: 24px;
}
.about-cstm p{
	font-size: 13px;
}
.about-img img {
    margin-top: 50px;
}
.service-cstm h2{
    font-size: 26px;
}
.service-cstm p{
	font-size: 14px;
}
.service-item img {
    width: 40%;
}
.service-item h4 {
    font-size: 15px;
}
.update-cstm h2{
    font-size: 26px;
}
.update-cstm p{
    font-size: 14px;
}
.card-hover {
    width: 83.7%;
    left: 29px;
    height: 59.7%;
}
}

/* large device */
@media (min-width: 992.01px) and (max-width: 1140px){
.card-hover {
    width: 82.5%;
    left: 28px;
    height: 53.5%;
}
}



